<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
  <h1 class="display-3">You've unique userID is<%= name %><%=RAND%></h1>
 
    
    <hr>
    <p>your name is <%=name%> </p>
      <p>your Email  is <%=NAME%> </p>
        <p>your Phone Number is <%=PHONE%> </p>
  

  </div>
</div>

<%- include('partials/footer') %>
